.login-section{
    margin: 100px;
}

.login-failed{
    text-align: center;
    margin: auto;
    margin-top: 40px;
    border: 2px solid red;
    border-radius: 2%;
    width: 65%;   
}

.login-failed-text{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;    
}
