.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 150px); /* Adjust the width based on your needs */
}

.user-name {
  margin-top: 0;
}

.user-email {
  margin-bottom: 10px;
}

.passwordFormBtn {
  margin-top: 20px;
}
