<div *ngIf="group">
    <h2>{{ group.name }}</h2>
    <p>{{ group.description }}</p>
</div>  

<h3>New post:</h3>
<form #addForm="ngForm" class="form" (ngSubmit)="save()">
  <div class="form-group">
    <label for="content">What's on your mind:</label>
    <input class="form-control" id="content" name="content" [(ngModel)]="newPost.content"/>
  </div>
  <input class="btn btn-primary pull-right" type="submit" value="Add"/>
</form>
<div class="row">
  <app-post-list [posts]="posts" [commentText]="commentText" (postAdded)="onPostAdded()"></app-post-list>

</div>







